@import "./breakpoints.scss";
.container {
  position: relative;
  z-index: 500;
  background-color: #fff;
  padding-top: 130px;
  .img_container {
    position: relative;
    width: 78px;
    height: 78px;
    margin: 0 auto 20px auto;
  }
  .title {
    font-size: 64px;
    width: 58%;
    text-align: center;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 40px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
  }
  .text {
    line-height: 10px;
    text-align: center;
  }

  .gridImgContainer {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .sec_container {
    position: relative;
    width: 140px;
    height: 100px;
    margin: auto;
  }
  .grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    max-width: 1024px;
    margin-top: 80px;
  }

  @include lg {
    .img_container {
      position: relative;
      width: 58px;
      height: 58px;
      margin: 0 auto 20px auto;
    }
    .title {
      font-size: 28px;
      width: 100%;
    }
    .sectitle {
      font-size: 28px;
      width: 100%;
    }
    .grid_layout {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    @include md {
      .grid_layout {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
    }
  }
}
